<section class="hack-login container-fluid">
    <h2 class="hack-login__title text-center pb-5">
        Employee Login
    </h2>
    <label for="employeeId" class="form-label hack-login__label">Employee Id</label>
    <input id="employeeId" class="d-block form-control " type="email" placeholder="xxxx@domain.com" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9]+\.[a-z]{2,}$"
        [(ngModel)]="employeeId" #employeeLogin="ngModel" required/>
    <button class="mt-5 btn btn-primary hack-login__submit" [attr.disabled]="employeeLogin.errors?.required||employeeLogin.errors?.pattern"
        (click)="loginEmployee(employeeLogin.errors?.required,employeeLogin.errors?.pattern)">Login</button>
</section>