<h2>
    Hack Ideas
</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Votes</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hackIdea of hackIdeaArray">
            <td>{{hackIdea.title}}</td>
            <td>{{hackIdea.description}}</td>
            <td>
                {{hackIdea.voteCount}}
                <button *ngIf="checkIfUserVoted(hackIdea)" (click)="upVoteIdea(hackIdea)">UpVote</button>
            </td>
            <td>{{hackIdea.creationDate}}</td>
        </tr>
    </tbody>
</table>

<a routerLink="./addHack">Add New Hack Idea</a>
<router-outlet></router-outlet>
